h1 {
    font-size: 40pt;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* center the text */
    color: white;
}

h1 .subtitle {
    display: block;
    font-size: 30pt; 
    max-width: 900px; 
    margin-left: auto;
    margin-right: auto;
    color: white; 
}

img, p, h2, .divider {
    width: 100%;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}

img {
	display: block;
    padding: 15px 0px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    font-family: "Crimson Text";
    color:white
}

h1, h2 {
    font-family: "Roboto";
    color:white
}

h2 {
    font-size: 25pt
}

.divider {
    height: 8px;
    background-color: #0b426a;
    margin-top: 10px;
    margin-bottom: 10px;
}

.name {
    font-size: 25px;
    height: 30px;
    color: white;
    text-align: center;
}

.hero {
    height: 100vh;
    background-image: url("images/faang1.jpg");
    background-size: cover;
    background-position: center;
}